{% load wagtailcore_tags wagtailimages_tags %}

{% if blocks %}

                            <div class="db-wrapper">
                                <div class="db-pricing-eleven db-bk-color-two">
                                    <div class="price popular-price1">
                                        <h2 class="satndart-heading">{{ blocks.heading}}</h2>
                                        <p class="popular-calendar1">{{ blocks.subheading }}l</p>
                                    </div>
                                    <div class="popular-type1">
                                        $39<sup>.99<br><span class="sub-t st1">Per Month</span></sup>
                                    </div>
                                    <div class="popular-li-box1">
                                        <ul class="most-popular-ul-font">
                                            <li class="populr-li">2<span class="popular-sp"> Hosted Domains</span></li>
                                            <li class="populr-li">1 GB<span class="popular-sp"> Raid Storage</span></li>
                                            <li class="populr-li">50 GB<span class="popular-sp"> Premium Traffic</span></li>
                                        </ul>
                                    </div>
                                    <div class="popular-p-box1">
                                        <ul class="list-unstyled">
                                            <li class="populr-text">Enterprise Dell Hardware</li>
                                            <li class="populr-text">cPanel Powered</li>
                                            <li class="populr-text">Litespeed Server</li>
                                            <li class="populr-text">99.99% Uptime Guarantee</li>
                                            <li class="populr-text">PHP, CGI, Perl, JavaScript, SSI &amp; </li>
                                            <li class="populr-text">MySQL Support</li>
                                        </ul>
                                    </div>
                                    <div class="invest-btn-box">
                                        <button class="invest-btn2 popular1 btn btn-default">Order Now</button>
                                    </div>
                                </div>
                            </div>


{% endif %}

